<form action="" method="POST">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <h1 class="mt-5">Login Page
              <br>
            </h1>
            <p class="lead">Please Add login information
              <br>
            </p>
          </div>
          <div class="form-group" style="">
            <label>User Name or Email</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group" style="">
            <label>Password</label>
            <input type="text" class="form-control">
          </div>
          <button type="button" class="btn btn-primary" style="">Login</button>
        </div>
        <div class="form-group"></div>
        <div class="form-group"></div>
      </div>
    </div>
  </form>